<div class="bg-white max-w-screen-md xl:max-w-screen-lg mx-auto xl:px-40 md:pb-20">
  <div class="bg-rose max-w-2xl xl:max-w-3xl mx-auto text-center py-8 px-4 md:px-8">
    <div class="text-3xl font-bold text-white lg:text-4xl">
      Medicina estética basada en ciencia
    </div>
    <p class="prose prose-lg my-8 text-white">
      En Dermábile los protocolos médicos son diseñados por la Dra. Matins,
      además del seguimiento del tratamiento, garantizando atención antes,
      durante, y después de los procedimientos.
    </p>
    <button type="button" class="block mx-auto px-6 py-3 border
      border-transparent shadow-sm text-2xl font-semibold font-quincy rounded-md
      text-rose bg-white" onclick="cta()">
      Pide cita
      <i class="fas fa-comments ml-3 -mr-1 h-5"></i>
    </button>
  </div>
</div>
