<section class="p-8 md:px-20">
  <h2 class="text-rose text-4xl font-quincy mb-12 text-center
    md:text-left">
    ¿Qué opinan <span class="font-semibold">nuestros clientes</span>?
  </h2>

  <div class="max-w-xl mx-auto lg:max-w-7xl">
    <div class="mx-auto grid grid-cols-1 gap-8 lg:grid-cols-3">
      <figure class="rounded-lg bg-gray-50 p-6 ring-1 ring-gray-100 shadow">
        <div class="flex gap-x-1 text-yellow-500 mb-4 text-sm">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <blockquote class="text-gray-900 italic font-quincy tracking-wide">
          Localización 10/10, consulta completa y linda (aparatos,
          recepción, sala de procedimientos) y lo más importante, el trato
          y servicio, es increíble la sensibilidad, profesionalismo y
          cuidado tanto de Dr Vanessa como también de Anna, su mano derecha
          que nos ayuda desde citarnos, apoyar en los procedimientos y
          hacernos seguimiento pos consulta. Recomiendo 100%.
        </blockquote>
        <figcaption class="mt-6 flex justify-end gap-x-4">
          <div class="font-semibold font-quincy">
            Ana V. B.
          </div>
        </figcaption>
      </figure>

      <figure class="rounded-lg bg-gray-50 p-6 ring-1 ring-gray-100 shadow flex
        flex-col">
        <div class="flex gap-x-1 text-yellow-500 mb-4 text-sm">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <blockquote class="text-gray-900 italic font-quincy tracking-wide grow">
          The doctor is extremely competent and really help me solve my problem
          in a safe and attentive way and the staff of the center was extremely
          kind and available also for follow-ups and additional checks. I would
          highly recommend the doctor, the staff, and the treatments they use
          because they are state of the arts, highly professional and with a
          great human touch.
        </blockquote>
        <figcaption class="mt-6 flex justify-end gap-x-4">
          <div class="font-semibold font-quincy">
            Irene P.
          </div>
        </figcaption>
      </figure>

      <figure class="rounded-lg bg-gray-50 p-6 ring-1 ring-gray-100 shadow">
        <div class="flex gap-x-1 text-yellow-500 mb-4 text-sm">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <blockquote class="text-gray-900 italic font-quincy tracking-wide">
          Lo mejor de este centro es que te aconsejan que es lo que realmente
          te va bien con la harmonía de tu anatomía facial. He visitado otras
          clínicas estéticas que por vender me han destrozado la cara. La Dra
          Martins, con cariño y empatía me ha tratado de manera holística y ahora
          puedo decir que me siento mejor conmigo mismo (a nivel físico y
          emocional). Lo recomiendo sin lugar a duda :)
        </blockquote>
        <figcaption class="mt-6 flex justify-end gap-x-4">
          <div class="font-semibold font-quincy">
            Ricardo B. N.
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
