<script
  src="https://kit.fontawesome.com/95d2597069.js"
  crossorigin="anonymous"
  defer
></script>

<script
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js"
  defer
></script>

<script
  type="text/plain"
  data-type="application/javascript"
  data-name="facebook"
  defer
>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '657764977967723');
  fbq('track', 'PageView');
</script>

<script type="text/javascript">
  window.klaroConfig = {
    default: true,
    hideDeclineAll: true,
    styling: {
      theme: ["light"],
    },
    services: [
      {
        name: "facebook",
        onlyOnce: true,
        purposes: ["analytics"]
      }
    ],
  }
</script>

<script
  type="text/javascript"
  src="https://cdn.kiprotect.com/klaro/v0.7.16/klaro.js"
  defer
></script>

<script type="text/javascript">
  CRISP_RUNTIME_CONFIG = {
    locale : "es"
  };
  window.$crisp=[];
  window.CRISP_WEBSITE_ID="788f14f2-0ae9-4f99-8aac-f5b36f512d24";
  (function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
</script>
{% contentblock js %}
