<script type="text/javascript" defer>
function contact() {
    if (typeof gtag !== "undefined") {
      gtag('event', 'conversion', {
        'send_to': 'AW-10902499971/1GaTCLfhuMADEIPl284o',
        'value': 80.0,
        'currency': 'EUR'
      });
    }
    if (typeof fbq !== "undefined") { fbq("track", "Contact"); }
    $crisp.push(['do', 'chat:open'])
  }

  function cta(params = {}) {
    if (typeof fbq !== "undefined") { fbq("track", "ViewContent", params); }
  }

  function checkout(params = {}, chat = false) {
    if (typeof gtag !== "undefined") {
      gtag('event', 'conversion', {
        'send_to': 'AW-10902499971/1GaTCLfhuMADEIPl284o',
        'value': 80.0,
        'currency': 'EUR'
      });
    }
    if (typeof fbq !== "undefined") { fbq("track", "InitiateCheckout", params); }
    if (chat) { $crisp.push(['do', 'chat:open']) }
  }
</script>

<script
  type="text/javascript"
  src="https://kit.fontawesome.com/95d2597069.js"
  crossorigin="anonymous"
  defer
></script>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js"
  defer
></script>

<script
  type="text/javascript"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-PLQX5K74V4"
></script>

<script
  type="text/javascript"
  async
  src="https://www.googletagmanager.com/gtag/js?id=AW-10902499971"
></script>

<script type="text/javascript">
window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}

  gtag('consent', 'default', {
    'ad_storage': 'denied',
    'ad_user_data': 'denied',
    'ad_personalization': 'denied',
    'analytics_storage': 'denied'
  });
  gtag('js', new Date());
  gtag('config', 'G-PLQX5K74V4');
  gtag('config', 'AW-10902499971');
</script>

<script
  type="text/plain" data-type="application/javascript" data-name="analytics"
>
!function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '657764977967723');
  fbq('track', 'PageView');

  gtag('consent', 'update', {
    analytics_storage: 'granted'
  });
</script>

<script type="text/plain" data-type="application/javascript" data-name="ads">
gtag('consent', 'update', {
    ad_user_data: 'granted',
    ad_personalization: 'granted',
    ad_storage: 'granted',
  });
</script>

<script type="text/javascript">
window.klaroConfig = {
    default: true,
    hideDeclineAll: true,
    mustConsent: false,
    acceptAll: true,
    styling: {
      theme: ["light"],
    },
    services: [
      {
        name: "analytics",
        title: "Estadísticas",
        onlyOnce: true,
        purposes: ["Estadísticas"],
        description: "Estas cookies nos permiten contar el número de visitas y las fuentes de tráfico para mejorar el rendimiento de nuestro sitio web.",
      },
      {
        name: "ads",
        title: "Publicidad",
        onlyOnce: true,
        purposes: ["Publicidad"],
        description: "Estas cookies nos permiten proponerle publicidad de nuestros socios, personalizada gracias a su navegación y su perfil de cliente.",
      },
    ],
    translations: {
      es: {
        consentModal: {
          description: "Utilizamos cookies propias y de terceros para obtener \
            datos estadísticos de la navegación de nuestros usuarios, ofrecer \
            marketing personalizado y mejorar nuestros servicios. Tienes más \
            información en nuestra Política de Cookies.",
        }
      }
    }
  }
</script>

<script
  type="text/javascript"
  src="https://cdn.kiprotect.com/klaro/v0.7.16/klaro.js"
  defer
></script>

<script type="text/javascript">
CRISP_RUNTIME_CONFIG = {
    locale : "es"
  };
  window.$crisp=[];
  window.CRISP_WEBSITE_ID="788f14f2-0ae9-4f99-8aac-f5b36f512d24";
  (function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
</script>
{% contentblock js %}
