<section class="bg-white p-8 py-12 md:px-20 lg:px-40 text-black rounded-[4rem] -mt-14
   md:flex md:items-start lg:items-center
  gap-x-8 space-y-8 relative z-1">
  <img src="/tratamientos/rellenos-acido-hialuronico/45.webp" class="md:w-1/3 max-w-70 ring-2 ring-peach rounded-full shrink-0">
  <div class="grow prose prose-lg text-black text-justify">
    <p>
      En Dermábile, cada protocolo médico <span class="font-semibold">es diseñado y llevado a cabo personalmente
      por la Dra. Vanessa Martins</span>, quien se dedica a ofrecer un
    <span class="font-semibold">enfoque integral y
      personalizado para cada paciente</span>. Nos comprometemos a brindarte un
      acompañamiento constante antes, durante y después de cada tratamiento,
      asegurando que te sientas respaldado en todo momento.
    </p>

    <p>
      <span class="font-semibold">
      Nuestros protocolos de multi-tratamientos combinan lo mejor de la tecnología y
      la experiencia médica para lograr resultados excepcionales, con la máxima
      seguridad y un aspecto completamente natural</span>. Elegir Dermábile es elegir un
      tratamiento de calidad, diseñado específicamente para tus necesidades y cuidado.
    </p>
  </div>
</section>

<section class="lg:bg-[url(/tratamientos/rellenos-acido-hialuronico/46.webp)] bg-cover lg:h-180 xl:h-220 -mt-14 pt-30
  px-8 md:px-20 bg-rose pb-20">
  <div class="lg:w-1/2 text-black">
    <h2 class="font-semibold text-4xl lg:text-6xl font-quincy mb-4">
      ¡Contáctanos!
    </h2>
    <div class="font-semibold">¿Quieres saber más o necesitas
      asesoramiento?</div>
    <ul class="space-y-4 my-8 lg:w-3/4">
      <li class="border-2 border-black p-3 flex gap-x-4 items-center
        rounded-md">
        <i class="fa fa-comments"></i>
        <div>
          <div class="font-semibold">Teléfono</div>
          <a href="tel:931770530">930 770 530</a>
        </div>
      </li>
      <li class="border-2 border-black p-3 flex gap-x-4 items-center
        rounded-md">
        <i class="fa fa-map-marker"></i>
        <div>
          <div class="font-semibold">Donde estamos</div>
          <div>Calle Laforja, 55, 08021 Barcelona</div>
        </div>
      </li>
      <li class="border-2 border-black p-3 flex gap-x-4 items-center
        rounded-md">
        <i class="fa fa-calendar"></i>
        <div>
          <div class="font-semibold">Horario de atención</div>
          <div>Lunes&mdash;Viernes 10:00&mdash;14:00 / 15:00&mdash;19:00</div>
        </div>
      </li>
    </ul>
    <div class="flex flex-col sm:flex-row gap-x-2 gap-y-4">
      <a href="https://wa.me/34931770530" class="w-full block lg:inline lg:w-auto rounded-full px-8 py-3 outline-2
        outline-black uppercase text-center
        hover:text-white hover:outline-white hover:bg-rose font-semibold"
        onclick="checkout({ contents: [{ id: '{{ page.service_slug }}', quantity: 1 }] }, true)">
        WhatsApp</a>
      <button class="w-full lg:w-auto rounded-full px-8 py-3 outline-2
        outline-black uppercase
        hover:text-white hover:outline-white hover:bg-rose font-semibold"
        onclick="checkout({ contents: [{ id: '{{ page.service_slug }}', quantity: 1 }] }, true)">
        Chat online</button>
      </div>
  </div>
</section>
