@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  @apply bg-white
}

.font-quincy {
  font-family: "Quincy", serif;
}

.bg-rose {
  background-color: #f09491;
}

.bg-black {
  background-color: #25282a;
}

.bg-apricot {
  background-color: #ffbe9f;
}

.bg-cool-gray {
  background-color: #d9d9d6;
}

.bg-coal {
  background-color: #25282a;
}

.border-rose {
  border-color: #f09491;
}

.text-rose {
  color: #f09491;
}

.text-apricot {
  color: #ffbe9f;
}

.text-peach {
  color: #ffb3ab;
}

.text-cool-gray {
  color: #d9d9d6;
}

.text-iron {
  color: #53565a;
}

.border-apricot {
  border-color: #ffbe9f;
}

@layer utilities {
  @variants responsive {
    .h-200 {
      height: 40rem;
    }

    .font-quincy {
      font-family: "Quincy", serif;
    }
  }
}

.cat-treatment {
  @apply bg-pink-100 text-pink-800
}

.w-1280 {
  width: 80rem;
}

.bg-graphic {
  margin-right: -50rem;
  margin-bottom: -56rem;
}

.klaro {
  --notice-right: auto;
  --notice-left: 20px;
  --green1: #f09491;
  --blue1: #f09491;
  --font-size: 1rem;
}

#klaro .klaro .cookie-modal .cm-btn.cm-btn-info {
  background-color: transparent;
  color: #333;
}

#klaro .klaro .cookie-modal .cm-bg {
  background: #000e;
}

#klaro .klaro .cookie-modal .cm-modal .cm-footer .cm-powered-by {
  display: none;
}

#klaro .klaro .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok {
  justify-content: left;
}

#klaro .klaro .cookie-modal .cm-modal .cm-header {
  padding: 2em;
}

#klaro .klaro .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-learn-more {
  flex-grow: 0;
}

@screen lg {
  #klaro .klaro .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok {
    justify-content: right;
  }

  #klaro .klaro .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-learn-more {
    flex-grow: 1;
  }
}

.legal h1,
.legal h2 {
  @apply
    font-quincy
}

article.prose {
  @apply
    text-gray-900
}

article.prose a {
  color: #dc807d;
  border-color: #f09491;
  @apply
    border-b-2
    no-underline
}

article.prose em {
  background-color: #ffdad7;
  @apply
    py-1
    px-2
    not-italic
    text-black
}
