<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?{{ site.time | date: '%s%N' }}" />
    <link rel="icon" type="image/png" href="/assets/images/dermabile-logo.png" sizes="32x32">
    {% seo %}
  </head>
  <body>
    {{ content }}

    {% include footer.html %}
    {% include js.html %}
    {% contentblock js %}
  </body>
</html>
