<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/images/dermabile-logo.png" sizes="32x32">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Radley:ital@0;1&display=swap" rel="stylesheet">
    {% seo %}
    {% vite_client_tag %}
    {% vite_javascript_tag application %}
  </head>
  <body class="font-lato text-black">
    {{ content }}
    {% include tail.html %}
  </body>
</html>
