---
layout: page
---

<div class="bg-black relative overflow-hidden">
  <div class="relative">
    <div class="absolute inset-0">
      <img class="object-cover w-full h-full" src="{{ page.image | default: "/assets/images/women-glowing-skin.jpg" }}">
      <div class="absolute inset-0 bg-gray-700 mix-blend-multiply"></div>
    </div>
    <div class="relative px-4 py-16 sm:px-6 sm:py-28 lg:py-56 lg:px-8">
      <h1 class="text-center text-4xl font-semibold font-quincy tracking-wide
        sm:text-5xl md:text-6xl">
        <span class="block text-white">{{ page.title }}</span>
      </h1>
    </div>
  </div>
</div>

<div class="bg-gray-50 lg:pb-16">
  <article class="bg-white p-4 md:px-24 md:py-12 lg:py-20 prose sm:prose-lg
    max-w-screen-md xl:max-w-screen-lg xl:px-40 lg:prose-xl mx-auto antialiased lg:-mt-20 lg:z-10 relative">
    {{ content }}
  </article>
  {% include cta.html %}
</div>
