---
layout: default
---

<div class="max-w-7xl mx-auto">
  <div class="max-lg:bg-none! bg-cover lg:h-180 xl:h-220 relative" style="background-image:url({{ page.dir }}{{ page.bg_image }});">
    <div class="lg:absolute rounded-xl bg-white color-black font-quincy text-4xl
      p-8 md:py-15 md:px-10 top-1/4 xl:top-1/3 lg:left-10 md:w-[40%] lg:shadow-md">
      <img class="h-8 w-auto sm:h-10 mb-10 md:mb-20" src="/assets/images/dermabile-brand-logo.svg">
      {{ page.heading }}
    </div>
    <div class=" md:inline lg:hidden md:absolute right-20 top-30 w-1/2 md:w-1/3 h-auto
      mx-auto">
      <img src="{{ page.image }}">
    </div>
  </div>

  <section class="p-8 md:py-20 md:px-15 xl:px-35">
    <div class="lg:flex flex-row-reverse items-center">
      <div>
        <h2 class="text-rose text-4xl font-quincy mb-8">
          ¿<span class="font-semibold">Qué es</span> el ácido hialurónico y
          <span class="font-semibold">para qué se utiliza</span>?
        </h2>
        <div class="prose lg:prose-lg text-justify">
          <p>
            El ácido hialurónico es una <span class="font-semibold"> sustancia
            natural presente en nuestro cuerpo</span>, cuya principal función es
            <span class="font-semibold"> mantener la hidratación y elasticidad de la
            piel</span>. En medicina estética, se utiliza en forma de gel para
            <span class="font-semibold"> reponer volumen, redefinir contornos y
            suavizar líneas de expresión</span>, aportando un <span
            class="font-semibold"> efecto rejuvenecedor inmediato y natural</span>.
          </p>
          <p>
            Este tratamiento no solo <span class="font-semibold"> corrige
            imperfecciones</span>, sino que también <span class="font-semibold">
            hidrata y redensifica </span>la piel sin necesidad de añadir volumen.
          </p>
        </div>
        <div class="text-right">
          <button class="w-full sm:w-auto mt-8 rounded-full px-8 py-3 outline-2 outline-rose text-rose uppercase
            hover:text-white hover:bg-rose font-semibold" onclick="checkout({ contents: [{ id: 'relleno-ah', quantity: 1 }] }, true)">Pedir cita</button>
        </div>
      </div>
      <div class="text-center">
        <img src="{{ page.image }}" class="w-[80%] h-auto mx-auto hidden lg:inline">
      </div>
    </div>
  </section>

  <div class="w-[80%] max-w-lg mx-auto my-4">
    <img src="/assets/images/divider.svg">
  </div>

  <section class="p-8 md:px-20">
    <h2 class="text-rose text-4xl font-quincy mb-12 font-semibold text-center
      md:text-left">
      Beneficios
    </h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 space-y-8 gap-x-8">
      <div>
        <img src="/tratamientos/rellenos-acido-hialuronico/face.svg" class="size-10 lg:size-14">
        <h3 class="text-rose my-4 font-semibold text-lg">Reposición de volumen y contorno facial</h3>
        <div>Recupera la proyección los pómulos, armoniza el perfil facial y mejora la definición del contorno mandibular.</div>
      </div>
      <div>
        <img src="/tratamientos/rellenos-acido-hialuronico/wrinkles.svg" class="size-10 lg:size-14">
        <h3 class="text-rose my-4 font-semibold text-lg">Corrección de imperfecciones y arrugas</h3>
        <div>Ameniza el hundimiento y cansancio en ojeras. Suaviza surcos y líneas de marioneta.</div>
      </div>
      <div>
        <img src="/tratamientos/rellenos-acido-hialuronico/lips.svg" class="size-10 lg:size-14">
        <h3 class="text-rose my-4 font-semibold text-lg">Mejora de rasgos específicos en labios y nariz</h3>
        <div>Volumen, perfilado y hidratación de labios. Corrección de la nariz, como caballete o punta caída, sin cirugía.</div>
      </div>
      <div>
        <img src="/tratamientos/rellenos-acido-hialuronico/hydrate.svg" class="size-10 lg:size-14">
        <h3 class="text-rose my-4 font-semibold text-lg">Hidratación y redensificación sin voluminizar</h3>
        <div>Aporta luminosidad, mejora la textura de la piel y restaura la hidratación desde el interior.</div>
      </div>
    </div>
  </section>

  <section class="p-8 md:px-20">
    <h2 class="text-rose text-4xl font-quincy mb-12 text-center
      md:text-left">
      ¿Qué opinan <span class="font-semibold">nuestros clientes</span>?
    </h2>

    <div class="max-w-xl mx-auto lg:max-w-7xl">
      <div class="mx-auto grid grid-cols-1 gap-8 lg:grid-cols-3">
        <figure class="rounded-lg bg-gray-50 p-6 ring-1 ring-gray-100 shadow">
          <div class="flex gap-x-1 text-yellow-500 mb-4 text-sm">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <blockquote class="text-gray-900 italic font-quincy tracking-wide">
            Localización 10/10, consulta completa y linda (aparatos,
            recepción, sala de procedimientos) y lo más importante, el trato
            y servicio, es increíble la sensibilidad, profesionalismo y
            cuidado tanto de Dr Vanessa como también de Anna, su mano derecha
            que nos ayuda desde citarnos, apoyar en los procedimientos y
            hacernos seguimiento pos consulta. Recomiendo 100%.
          </blockquote>
          <figcaption class="mt-6 flex justify-end gap-x-4">
            <div class="font-semibold font-quincy">
              Ana V. B.
            </div>
          </figcaption>
        </figure>

        <figure class="rounded-lg bg-gray-50 p-6 ring-1 ring-gray-100 shadow flex
          flex-col">
          <div class="flex gap-x-1 text-yellow-500 mb-4 text-sm">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <blockquote class="text-gray-900 italic font-quincy tracking-wide grow">
            The doctor is extremely competent and really help me solve my problem
            in a safe and attentive way and the staff of the center was extremely
            kind and available also for follow-ups and additional checks. I would
            highly recommend the doctor, the staff, and the treatments they use
            because they are state of the arts, highly professional and with a
            great human touch.
          </blockquote>
          <figcaption class="mt-6 flex justify-end gap-x-4">
            <div class="font-semibold font-quincy">
              Irene P.
            </div>
          </figcaption>
        </figure>

        <figure class="rounded-lg bg-gray-50 p-6 ring-1 ring-gray-100 shadow">
          <div class="flex gap-x-1 text-yellow-500 mb-4 text-sm">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <blockquote class="text-gray-900 italic font-quincy tracking-wide">
            Lo mejor de este centro es que te aconsejan que es lo que realmente
            te va bien con la harmonía de tu anatomía facial. He visitado otras
            clínicas estéticas que por vender me han destrozado la cara. La Dra
            Martins, con cariño y empatía me ha tratado de manera holística y ahora
            puedo decir que me siento mejor conmigo mismo (a nivel físico y
            emocional). Lo recomiendo sin lugar a duda :)
          </blockquote>
          <figcaption class="mt-6 flex justify-end gap-x-4">
            <div class="font-semibold font-quincy">
              Ricardo B. N.
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section class="bg-apricot p-8 pb-12 lg:px-40 text-black rounded-t-[4rem] lg:grid
    lg:grid-cols-8 gap-x-16">
    <div class="lg:col-span-3">
    <h2 class="text-4xl font-quincy mb-12 font-semibold text-center
      lg:text-left mt-8">Preguntas frecuentes</h2>
    <div class="hidden lg:block leading-6">
      <p class="mb-2">Entendemos que al considerar un tratamiento es natural tener dudas.</p>
      Por eso, <span class="font-semibold">hemos recopilado las preguntas más comunes para ofrecerte toda la información que necesitas y ayudarte a tomar la mejor decisión para el cuidado de tu piel</span>.
    </div>
    </div>
    <div class="col-span-5">
      <ul class="divide-y divide-coal divide-dotted mb-12 text-justify">
        <li class="py-4">
          <div class="font-semibold text-lg mb-4">¿Es doloroso el tratamiento? </div>
          <div class="leading-6">
            No suele ser doloroso. Utilizamos agujas finas o cánulas, y si es
            necesario, aplicamos anestesia tópica para mayor confort.
          </div>
        </li>
        <li class="py-4">
          <div class="font-semibold text-lg mb-4">
            ¿Cuánto duran los resultados?
          </div>
          <div class="leading-6">
            La duración varía según el área tratada y el metabolismo de cada
            persona, pero los resultados suelen mantenerse entre 6 y 18 meses.
          </div>
        </li>
        <li class="py-4">
          <div class="font-semibold text-lg mb-4">
            ¿Cuáles son los cuidados después del tratamiento?
          </div>
          <div class="leading-6">
             <ul class="list-disc ml-8">
               <li>Evita el ejercicio intenso y la exposición al calor (saunas, baños calientes) durante las primeras 24-48 horas.</li>
               <li>No masajes ni presiones las áreas tratadas.</li>
               <li>Hidrata tu piel y utiliza protector solar para maximizar los resultados.</li>
             </ul>
          </div>
        </li>
        <li class="py-4">
          <div class="font-semibold text-lg mb-4">
            ¿Hay algún efecto secundario?
          </div>
          <div class="leading-6">
            El tratamiento es seguro, pero podrías experimentar efectos leves y
            temporales como enrojecimiento, inflamación o pequeños hematomas, que
            desaparecen en pocos días.
          </div>
        </li>
        <li class="py-4">
          <div class="font-semibold text-lg mb-4">
            ¿Cuántas sesiones necesito?
          </div>
          <div class="leading-6">
            Generalmente, con una sesión es suficiente, aunque algunos casos
            podrían requerir retoques o tratamientos complementarios.
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="bg-white p-8 py-12 md:px-20 lg:px-40 text-black rounded-[4rem] -mt-14
     md:flex md:items-start lg:items-center
    gap-x-8 space-y-8 relative z-1">
    <img src="/tratamientos/rellenos-acido-hialuronico/45.webp" class="md:w-1/3 max-w-70 ring-2 ring-peach rounded-full shrink-0">
    <div class="grow prose prose-lg text-black text-justify">
      <p>
        En Dermábile, cada protocolo médico <span class="font-semibold">es diseñado y llevado a cabo personalmente
        por la Dra. Vanessa Martins</span>, quien se dedica a ofrecer un
      <span class="font-semibold">enfoque integral y
        personalizado para cada paciente</span>. Nos comprometemos a brindarte un
        acompañamiento constante antes, durante y después de cada tratamiento,
        asegurando que te sientas respaldado en todo momento.
      </p>

      <p>
        <span class="font-semibold">
        Nuestros protocolos de multi-tratamientos combinan lo mejor de la tecnología y
        la experiencia médica para lograr resultados excepcionales, con la máxima
        seguridad y un aspecto completamente natural</span>. Elegir Dermábile es elegir un
        tratamiento de calidad, diseñado específicamente para tus necesidades y cuidado.
      </p>
    </div>
  </section>

  <section class="lg:bg-[url(/tratamientos/rellenos-acido-hialuronico/46.webp)] bg-cover lg:h-180 xl:h-220 -mt-14 pt-30
    px-8 md:px-20 bg-rose pb-20">
    <div class="lg:w-1/2 text-black">
      <h2 class="font-semibold text-4xl lg:text-6xl font-quincy mb-4">
        ¡Contáctanos!
      </h2>
      <div class="font-semibold">¿Quieres saber más o necesitas
        asesoramiento?</div>
      <ul class="space-y-4 my-8 lg:w-3/4">
        <li class="border-2 border-black p-3 flex gap-x-4 items-center
          rounded-md">
          <i class="fa fa-comments"></i>
          <div>
            <div class="font-semibold">Teléfono</div>
            <a href="tel:931770530">930 770 530</a>
          </div>
        </li>
        <li class="border-2 border-black p-3 flex gap-x-4 items-center
          rounded-md">
          <i class="fa fa-map-marker"></i>
          <div>
            <div class="font-semibold">Donde estamos</div>
            <div>Calle Laforja, 55, 08021 Barcelona</div>
          </div>
        </li>
        <li class="border-2 border-black p-3 flex gap-x-4 items-center
          rounded-md">
          <i class="fa fa-calendar"></i>
          <div>
            <div class="font-semibold">Horario de atención</div>
            <div>Lunes&mdash;Viernes 10:00&mdash;14:00 / 15:00&mdash;19:00</div>
          </div>
        </li>
      </ul>
      <div class="flex flex-col sm:flex-row gap-x-2 gap-y-4">
        <a href="https://wa.me/34931770530" class="w-full block lg:inline lg:w-auto rounded-full px-8 py-3 outline-2
          outline-black uppercase text-center
          hover:text-white hover:outline-white hover:bg-rose font-semibold"
          onclick="checkout({ contents: [{ id: 'relleno-ah', quantity: 1 }] }, true)">
          WhatsApp</a>
        <button class="w-full lg:w-auto rounded-full px-8 py-3 outline-2
          outline-black uppercase
          hover:text-white hover:outline-white hover:bg-rose font-semibold"
          onclick="checkout({ contents: [{ id: 'relleno-ah', quantity: 1 }] }, true)">
          Chat online</button>
        </div>
    </div>
  </section>
</div>
