<script defer src="https://pro.fontawesome.com/releases/v5.8.1/js/light.js" integrity="sha384-avwGKnev1pyXYEbWxXSg9S4rpTsws+5vQpoj76SfcccEzOL162Ei8+z4a6AlaMeE" crossorigin="anonymous"></script>
<script defer src="https://pro.fontawesome.com/releases/v5.8.1/js/brands.js" integrity="sha384-b4zU5X+9uCyU5wpeWBsEIFph6tTD8ERLbUs93uYGQGNqzbcfPDeY6c4jMhTAfBri" crossorigin="anonymous"></script>
<script defer src="https://pro.fontawesome.com/releases/v5.8.1/js/fontawesome.js" integrity="sha384-w6QYwIdCVqcYkHtaFutVu3VlDeu+pBFvlp7e0/tygMFwnWTl13KuVYfsp0ediPpA" crossorigin="anonymous"></script>
